<li [class.completed]="todo.completado"
    [class.editing]="editando">
    <div class="view">
        <input class="toggle" 
            [formControl]="chckCompletado"    
            type="checkbox" >

        <label (dblclick)="editar()">{{todo.texto}}</label>
        
        <button (click)="eliminarTodo()" class="destroy"></button>
    </div>
    <input 
        class="edit"
        type="text"
        (blur)="terminarEdit()"
        [formControl]="txtInput"
        #inputFisico>
</li>
<!--<li>
    <div class="view">
        <input class="toggle" type="checkbox">
        <label>Buy a unicorn</label>
        <button class="destroy"></button>
    </div>
    <input class="edit" value="Rule the web">
</li> -->
